@using Semestralka.Models

@model CategoryModel

@{
    ViewBag.Title = ViewBag.Category.name_category;
}

<div id="recipe-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="fa fa-pencil-square-o"></i>
            Upravit kategorii
        </h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "Categories", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.name_category, new { Value = @ViewBag.Category.name_category, maxlength = 128, @class = "form-control" })
            </div>

            <input type="submit" class="btn signin-btn" name="add" value="Uložit" />
        }        
    </div>
</div>
