@using Semestralka.Models;

@model AddCategoryModel

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

@using (Html.BeginForm("Index", "Categories", FormMethod.Post))
{
    <div class="form-group">
        @*Label and textbox for category name*@
        @Html.LabelFor(m => m.name_category)
        @Html.TextBoxFor(m => m.name_category)
        
        @*Add button*@
        <input type="submit" value="Přidat" />
    </div>
}