@using Semestralka.Models;

@model IngredientModel

@{
    ViewBag.Title = "Ingredients";
}

<h2>Ingredients</h2>

@using (Html.BeginForm("Ingredients", "Recipes", FormMethod.Post))
{
    <div class="form-group">
        @*Label and textbox for recipe name*@
        @Html.LabelFor(m => m.Name_ingredient)
        @Html.TextBoxFor(m => m.Name_ingredient)

        @*Label and textbox for unit*@
        @Html.LabelFor(m => m.Unit)
        @Html.TextBoxFor(m => m.Unit)

        @*Add button*@
        <input type="submit" value="Přidat" />
    </div>
}