@using Semestralka.Models;
@using Semestralka.DataObjects;

@model RecipeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (RecipeDO recipe in ViewBag.recipes)
{
    <a href="@Url.Action("Recipe", "Recipes", new { id = @recipe.RecipeID })">
        @recipe.RecipeName
    </a>
}